#mask_modify_password{
	background: #FFF;
}
#mask_modify_password span{
	font-weight: bold;
}
#mask_modify_password label{
	font-weight: normal;
	line-height: 1;
	color: #999999;
}
#mask_new_password{
    padding-top: 15px;
    background: #FFF;
}
#passOverlay{
	padding-left: 0px;
	padding-right: 0px;
} 
