#passOverlay{
	padding-left: 0px;
	padding-right: 0px;
	} 
#mask_modify_password{
	background: #FFF;
}
#mask_modify_password span{
	font-weight: bold;
}
#mask_modify_password label{
	font-weight: normal;
	line-height: 1;
	color: #999999;
}
